var touchStart

function handleTouchStart(event) {
    touchStart = event.changedTouches[0].clientY
}

function handleTouchEnd(event, ownerInstance) {
    var touchEndY = event.changedTouches[0].clientY
    var distance = touchEndY - touchStart

    // -1：收回；0：不动；1：下拉
    var direction = 0
    // 收回
    if (distance < 0 && distance < -70) {
        direction = 1
    }

    // 下拉
    if (distance > 0 && distance > 70) {
        direction = -1
    }

    if (direction !== 0) {
        ownerInstance.callMethod('handleTouchmove', { direction: direction,distance:distance })
    }
    touchStart = 0
}

module.exports = {
    handleTouchStart: handleTouchStart,
    handleTouchEnd: handleTouchEnd
}
